<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings" schemaVersion="2014-05-30">
  <!-- 
    Learn more about Application Insights configuration with ApplicationInsights.config here: 
    http://go.microsoft.com/fwlink/?LinkID=513840
  -->

  <!-- This key is for Application Insights resource 'unBand' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>d0507e33-9cbe-495f-8085-ac539ad0d3ce</InstrumentationKey>

  <TelemetryModules>
    <Add Type="Microsoft.ApplicationInsights.Extensibility.Implementation.Tracing.DiagnosticsTelemetryModule, Microsoft.ApplicationInsights"/>
  </TelemetryModules>
  <ContextInitializers>
    <Add Type="Microsoft.ApplicationInsights.Extensibility.ComponentContextInitializer, Microsoft.ApplicationInsights" />
    <Add Type="Microsoft.ApplicationInsights.Extensibility.DeviceContextInitializer, Microsoft.ApplicationInsights" />
  </ContextInitializers>
  <TelemetryChannel>
    <!-- 
        The telemetry channel section can be used to configure the behavior of the SDK with respect to sending data to 
        the Application Insights service.
    -->
    <!--
      DeveloperMode setting controls Application Insights SDK behavior to optimize for local debugging. 
      This setting should be set to false before deploying your application.
    -->
    <DeveloperMode>false</DeveloperMode>
  </TelemetryChannel>
</ApplicationInsights>