<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.3" targetFramework="net45" />
  <package id="MahApps.Metro" version="0.14.0.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights" version="0.11.1-build00694" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.0.24" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="Sparrow.Chart.Wpf" version="13.1.0.118" targetFramework="net45" />
  <package id="WriteableBitmapEx" version="1.0.13.0" targetFramework="net45" />
</packages>