<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.3" targetFramework="net45" />
  <package id="MahApps.Metro" version="0.14.0.0" targetFramework="net45" />
  <package id="Sparrow.Chart.Wpf" version="13.1.0.118" targetFramework="net45" />
  <package id="WriteableBitmapEx" version="1.0.13.0" targetFramework="net45" />
</packages>