<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.3" targetFramework="net45" />
  <package id="Garlic" version="2.1.0.0" targetFramework="net45" />
  <package id="GMap.NET.Presentation" version="1.7.1" targetFramework="net451" />
  <package id="MahApps.Metro" version="1.0.1-ALPHA008" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="net45" />
  <package id="Sparrow.Chart.Wpf" version="13.1.0.118" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net45" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net45" />
  <package id="WriteableBitmapEx" version="1.0.14.0" targetFramework="net45" />
</packages>